* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
}

.header__tittle {
    padding-top: 0.5vw;
    text-align: center;
    font-size: xx-large;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.9);

}

.body {
    background-image: url(../images/gallery/wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
    height: 90vh;
}

.figure__div {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: 175px repeat(5, 90px);
    padding: 1vh;
    margin-top: 8vw;
    background-color: rgba(238, 238, 238, 0.9);
    border: 1px solid black;
    border-radius: 1vw;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.figure__div__screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    grid-column: 1/-1;
    text-align: right;
    word-break: break-all;
    padding: 1vw;
    margin: 10px 10px 20px;
    background-color: rgb(154, 157, 138);
    border-radius: 2vw;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
}

.div__screen {
    font-size: 1.1em;
}


.btn {
    cursor: pointer;
    margin: 10px;
    padding: 0;
    border-radius: 2vw;
    font-size: 1.5em;
    border: none;
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.5), 5px 5px 15px 3px rgba(0, 0, 0, 0.5);
}

.btn--number {
    background-color: rgb(99, 99, 99);
}

.btn--operator {
    background-color: rgb(43, 43, 43);
}

button:nth-of-type(1),
button:nth-of-type(2) {
    background-color: rgb(164, 86, 104);
}

button:nth-of-type(18) {
    background-color: rgb(239, 108, 0);
}


.btn--double {
    grid-column: span 2;
}

.btn:active {
    background-color: rgba(128, 128, 128, 0.8);
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);

}

.btn:hover {
    background-color: rgba(227, 151, 240, 0.8);
}

.btn:focus {
    outline: none;
}

.footer__copyrigth {
    margin-top: 10vw;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

.footer__copyrigth:hover {
    text-shadow: 2px 2px 10px rgba(227, 151, 240, 0.8);
    ;
}

/* MEDIA QUERIES */


@media (max-width: 800px) {
    * {
        font-size: 1.1rem;
    }

    .header__tittle {
        padding-top: 0.3vw;
    }

    .main__figure {

        margin-top: 10vw;
        height: 70vh;
    }

    .figure__div {
        grid-template-columns: repeat(4, 75px);
        grid-template-rows: 150px repeat(5, 75px);
        padding: 0.7vh;
    }

    .figure__div__screen {
        padding: 0.7vw;
        margin: 8px 8px 16px;
        border-radius: 1vw;
        font-size: 1.5em;
    }

    .div__screen {
        font-size: 0.9em;
    }

    .btn {
        margin: 8px;
        border-radius: 1vw;
        font-size: 1.2em;

    }

    .btn:active {
        transform: translateY(3px);

    }

    .footer__copyrigth {
        font-size: 1em;
        margin-top: 15vw;
    }
}